@media only screen and (max-width: 1768px) {
    .column-table{
        min-width: var(--min-table-width);
    }
    .ui.stackable.grid>.wide.column {
        width: 100%!important;
        margin: 0 0!important;
        -webkit-box-shadow: none!important;
        box-shadow: none!important;
        padding: 1rem 1rem!important;
    }
} 

.table-body-div {
  overflow-y: scroll;
}

